<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h3>All Chats!</h3>
    <form method="GET" action="/chats/new">
      <button>New Chat</button>
    </form>
    <%for(chat of chats) {%>
    <div class="chat">
      <p>From: <i> <%=chat.from%></i></p>
      <div class="msg">
        <p><%=chat.msg%></p>
        <form method="GET" action="/chats/<%=chat._id%>/edit">
          <button>edit</button>
        </form>

        <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE">
          <button class="deleteBtn">delete</button>
        </form>
      </div>
      <p>Received by: <i> <%=chat.to%></i></p>
      <p>Created: <%= chat.createdAt.toLocaleString() %></p>
      <% if(chat.updatedAt && chat.updatedAt.getTime() !==
      chat.createdAt.getTime()) { %>
      <p>Updated: <%= chat.updatedAt.toLocaleString() %></p>
      <% } %>
    </div>
    <hr />
    <%}%>
  </body>
  <script src="/app.js"></script>
</html>
